

.arrow-container-secondary {
    
    
    width: 225px;
    height: 225px;
    // border: 1px solid red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    // top: 150px;
    // right: 0;
    will-change: opacity;
    pointer-events: none;

    .bottom-arm, .top-arm {
        will-change: rotate;
        width: 100%;
        aspect-ratio: 21633/79792;
        // border: 1px solid blue;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform-origin: 50% 13.58%;
        background: var(--e-global-color-4507a68);
        border-radius: 150px 150px 60px 60px;
    }

   

    &[data-animation="what-we-do"] {
        display: none;
        position: fixed;
        left: 78%;
        top: 42%;
        .bottom-arm {
            rotate: 5deg;
        }
    
        .top-arm {
            rotate: -55deg;
            background: var(--blue-gradient);
            z-index: 1;
        }
        @media screen and (min-width: 865px) {
            display: block;
        }
    }

    @media screen and (max-width: 865px) {
        width: 30% !important;
        height: 30% !important;
        aspect-ratio: 1/1;
        top: 40% !important;
        right: unset !important;
        bottom: unset !important;
        left: 50% !important;
        .top-arm {
            rotate: 225deg !important;
        }
        .bottom-arm {
            rotate: 135deg !important;
        }
    }

    @media screen and (min-width: 865px) {
        &.hidden {
            display: none;
        }
    }
    
}



// TODO Widget-ify!...
// TODO 
.arrow-container {
    // border: 1px solid blue;
    position: absolute;
    min-width: 468px;
    width: calc(100svh - 190px);
    // height: 648px;
    max-width: 628px;
    aspect-ratio: 1/1 !important;
    bottom: 0;
    right: 96px;
    z-index: 0;
 
    .arrow-arm {
        // border: 1px solid red;
        width: 27%;
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: var(--e-global-color-bc2e963);
        transform-origin: 50% 13.58%;
        border-radius: 100px 100px 40px 40px;
        rotate: 45deg;
        &.top-arm {
            z-index: 2;
            rotate: 3deg;
            background: var(--green-gradient);
        }
    }


    // TODO FIGURE THIS BIT OUT
    @media screen and (max-width: 925px) {
        right: 0 !important;
    }
    @media screen and (max-width: 768px) {
        min-width: unset !important;
        width: 95% !important;
        left: 50% !important;
        right: unset !important;
        bottom: unset !important;
        transform: translateX(-50%) !important;
        top: 100px !important;
    }
}


.arrow-container {
    // Colours
    &[data-color="green"] {
        .arrow-arm {
            background: var(--e-global-color-bc2e963);
            &.top-arm {
                background: var(--green-gradient);
            }
        }
    }
    &[data-color="blue"] {
        .arrow-arm {
            background: var(--e-global-color-4507a68);
            &.top-arm {
                background: var(--blue-gradient);
            }
        }
    }
    &[data-color="red"] {
        .arrow-arm {
            background: var(--e-global-color-670b45c);
            &.top-arm {
                background: var(--red-gradient);
            }
        }
    }
    &[data-color="yellow"] {
        .arrow-arm {
            background: var(--e-global-color-2ee2a9c);
            &.top-arm {
                background: var(--yellow-gradient);
            }
        }
    }
    &[data-color="purple"] {
        .arrow-arm {
            background: var(--e-global-color-a5ade05);
            &.top-arm {
                background: var(--purple-gradient);
            }
        }
    }
}

.arrow-container-secondary {
    &[data-color="green"] {
        .bottom-arm {
            background: var(--e-global-color-bc2e963);
        }
        .top-arm {
            background: var(--green-gradient);
        }
    }
    
    &[data-color="blue"] {
        .bottom-arm {
            background: var(--e-global-color-4507a68);
        }
        .top-arm {
            background: var(--blue-gradient);
        }  
    }

    &[data-color="red"] {
        .bottom-arm {
            background: var(--e-global-color-670b45c);
        }
        .top-arm {
            background: var(--red-gradient);
        }
    }

    &[data-color="yellow"] {
        .bottom-arm {
            background: var(--e-global-color-2ee2a9c);
        }
        .top-arm {
            background: var(--yellow-gradient);
        }
    }

    &[data-color="purple"] {
        .bottom-arm {
            background: var(--e-global-color-a5ade05);
        }
        .top-arm {
            background: var(--purple-gradient);
        }
    }
}

.c12-page-hero {
    .arrow-container {
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
        .arrow-arm {
            border-radius: 150px 150px 60px 60px; //
        }

        @media screen and (min-width: 800px) {
            width: 100svh;
        }
    }
}


