.c12-decorated-video {
    .video {
        aspect-ratio: 16/9 !important;
        width: 722px;
        max-width: calc(100% + 28px);
        margin: 0 -14px;
        border-radius: 26px;
        border: 14px solid var(--e-global-color-secondary);
        background-color: var(--e-global-color-secondary);
        
        iframe, video {
            display: block;
            border-radius: 16px;
            width: 100%;
            
            height: 100%;
            object-fit: cover;
        }
    }
    
    @media screen and (min-width: 722px) {
        .video {
            margin: 0 auto;
            max-width: 100%;
        }
    }
}