
.c12-hero {
    width: 100vw;
    height: 100vh;
    width: 100svw;
    height: 100svh;
    min-height: 650px;
    max-height: 820px;
    background-color: var(--e-global-color-secondary);
    padding: 50px 36px;


    &.full-height {
        max-height: unset;
    }

    .inner {
        width: 100%;
        height: 100%;
        max-width: 1208px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
    }
    .content {
        max-width: 34em;
        position: relative;
        z-index: 1;
        .jumbotron {
            margin-top: 0;
            margin-bottom: 16px;
        }
        p {
            max-width: 26em;
            font-size: 1.25em;
            margin: 0 0 24px;
            // text-wrap: balance;
        }
        
    }
    @media screen and (min-width: 768px) {
        &.hide-cta {
            .content {
                .cta {
                    display: none !important;
                }

            }
        }
    }

     @media screen and (max-width: 768px) {
        // TODO dont scale height on mobile
        min-height: unset;
        // height: unset;
        aspect-ratio: 9/16;
        .content {
            max-width: 30em;
            .jumbotron {
                max-width: 9em;
            }
            p {
                font-size: 1em;
            }
        }
    }
}

