

.c12-key-people {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .image img {
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    }
    
    .person {
        background-color: var(--e-global-color-secondary);
        padding: 20px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        .credit {
            padding: 0;
            .image {
                width: 72px;
                height: 72px;
                svg {
                    width: 72px;
                    height: 72px;
                }
            }
            h5 {
                color: var(--e-global-color-text);
                margin-bottom: 10px;
                font-size: 1.25em;
            }
            p {
                font-size: 0.75em;
                line-height: 1;
            }

        }
    }
    @media screen and (min-width: 768px) {
        margin-right: -76px;
        &.no-people {
            margin-right: 0;
        }
    }
}