
.c12-page-hero {
    // TODO REMOVE FOR ANIMATION...
    overflow: hidden;
   
    .content {
        max-width: 738px;
        h1 {
            // padding-right: 16px;
            text-wrap: balance;
            span {
                font-size: 0.85rem;
                text-transform: uppercase;
                font-weight: 400;
                display: block;
            }
        }
        p {
            max-width: unset;
            font-size: 1rem;
            margin: 0 0 24px;
            // text-wrap: balance;
        }
        
        

    }

    &.center {
        padding-bottom: 50px;
        .inner {
            justify-content: center;
        }
        h1, p {
            
            text-align: center;
        }
        p {
            max-width: 450px;
            margin: 0 auto;
        }
    }

    &.thank-you {
        .inner {
            justify-content: center;
            align-items: center;
            h1 {
                margin-bottom: 50px;
            }
            .cta {
                text-align: center;
            }
        }
    }

     @media screen and (max-width: 768px) {
        padding: 16px;
        // TODO dont scale height on mobile
        // min-height: unset;
        // height: unset;
        aspect-ratio: 9/16;
        .content {
            max-width: 30em;
            .jumbotron {
                max-width: 9em;
            }
            p {
                font-size: 1em;
            }
        }

       
    }

    @media screen and (max-width: 865px) {
        &.thank-you {
            .inner {
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 75px;
                .cta {
                    text-align: center;
                }
            }
        }
    }
}
