
.c12-simple-page-header {
    background: var(--e-global-color-secondary);
    min-height: 24em;
    height: 50vh;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding: 0 36px;
    .inner {
        width: 1080px;
        max-width: 100%;
        margin: 0 auto;
        h1 {
            max-width: 540px;
        }
    }
    
}

.c12-post-header {
    .inner {
        h1 {
            font-size: min(max(1.75em, 8vw), 3.5em) !important;
            // font-size: 3.5em !important;
            max-width: unset;
        }
    }
}