
.c12-team-members {
    display: flex;
    margin: 56px auto;
    position: relative;
    
    .swiper {
        padding: 0 32px;
    }

    .team-member {
        background-color: var(--e-global-color-primary);
        width: 372px;
        height: 405px;
        max-width: 100%;
        position: relative;
        padding: 24px;
        text-align: center;
        border-radius: 30px;
        h4 {
            color: #fff;
            margin: 0;
            font-weight: 400;
        }
        p {
            text-transform: uppercase;
            font-size: 0.75rem;
            color: var(--e-global-color-secondary);
        }

        .image {
            background-color: #fff;
            opacity: 0.3;
            height: 300px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0 0 30px 30px;
          
        }

        .bio-toggle {
            aspect-ratio: 1/1;
            position: absolute;
            bottom: 24px;
            right: 24px;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    }

    .swiper-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90px;
        height: 40px;

        position: absolute;
        left: 50%;
        bottom: -61px;
        top: unset;
        transform: translateX(-50%);
       
        .swiper-button-prev,
        .swiper-button-next {
            position: unset;
            width: 32px;
            height: 32px;
            background: var(--e-global-color-secondary);
            border-radius: 50%;
            transform: unset;
            top: unset;
            left: unset;
            right: unset;
            bottom: unset;
            transform-origin: unset;
            margin-top: unset;
            &::after {
                font-size: 16px;
                color: #fff;
            }
        }
        @media screen and (min-width: 896px) {
            right: 32px;
            bottom: unset;
            left: unset;
            top: -61px;
            transform: unset;
        }
        @media screen and (min-width: 2000px) {
            display: none;
        }
    }
}